@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Inter+Tight:wght@100&family=Inter:wght@200;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: white;
  --primary-fg: #09090b;

  --secondary: #e5e5e5;

  --secondary-bg: #e7e5e4;
  --primary-text: #404040;
}

.dark {
  --primary: #0a0a0a;
  --primary-fg: #f8fafc;

  --secondary: #27272a;
  --primary-text: #a1a1aa;

  --secondary-bg: #44403c;
}

body {
  background: var(--primary);
}
.colored {
  background: var(--primary);
  color: var(--primary-fg);
}

.primary-text {
  color: var(--primary-text);
}
.secondary-border {
  border-color: var(--secondary);
}
.secondary-hover:hover {
  background: var(--secondary-bg);
}
b,
strong {
  font-weight: 500;
  color: var(--primary-fg);
}

mark {
  background: var(--secondary);
  color: var(--primary-fg);
  padding: 2px;
  border-radius: 4px;
}

.icons {
  pointer-events: auto;
  margin: 10px;
  filter: invert(60%);
  padding: 2px;
}

.icons:hover {
  transition: 0.3s;
  filter: invert(100%);
}

.gradient-blue {
  background: -webkit-linear-gradient(
    0deg,
    #22d3ee 20%,
    #5eead4 50%,
    #ffc98c 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red {
  background: -webkit-linear-gradient(
    0deg,
    #be22ff 20%,
    #ff279c 50%,
    #ff1f97 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient::selection {
  -webkit-text-fill-color: var(--primary-fg);
  color: black;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-destination: 0% 100%;
  overscroll-behavior-y: none;
  scroll-padding: 50px; /* Adjust as needed */
}
/* a:hover { */
/*   translate: 10px; */
/*   transition: 0.3s; */
/*   cursor: pointer; */
/*   z-index: 1; */
/*   /* text-decoration: underline; */
/* } */

/*
.links {
  border: 0px solid rgb(0, 205, 205);
}

.hoverable {
  border: 0.3px solid transparent;
}

.hoverable:hover {
  transition: 0.3s;
  border: 0.12px solid rgba(0, 255, 255, 0.3);
} */

/* .gradient-text {
  background: linear-gradient(120deg, #0891b2, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* 
@media (max-width:768px) {
  .mobile-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: grid;
    place-content: center;
    background: rgba(15, 23, 42, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */
